@media(min-width:320px){
  body{
    background-color: black;
  }
  .wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 80vh;
  }
  .wrapper > h1 {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
  }
  .wrapper > a{
    color: white;
    font-family: sans-serif;
  }
  .wrapper > p{
    color: white;
  }
}
